<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>백신예약 프로그램</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<th:block th:replace="~{fragments/nav :: nav}"></th:block>

<section class="container mt-4">
    <h2>백신예약 프로그램</h2>
    <p>백신 접종을 예약하고</p>
    <p>예약자별 예약 현황을 조회하며</p>
    <p>지역별 백신 접종 예약 현황을 관리하는 프로그램 입니다.</p>
    <p>많은 이용 바랍니다.</p>
</section>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
