<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vaccineManager.mapper.HospitalMapper">
    <select id="findByHospCode" parameterType="String" resultType="com.example.vaccineManager.dto.HospitalDto">
        SELECT hosp_code as hospCode, hosp_name as hospName, hosp_tel as hospTel, hosp_addr as hospAddr
        FROM hospital
        WHERE hosp_code = #{hospCode}
    </select>
</mapper>